/* Stile per il form di conferma */
#confirmation {
    margin-top: 40px;
}

#confirmation h2 {
    font-size: 1.8rem;
    color: #6d4c41;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

form label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
}

form input, form select {
    width: 80%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    width: 50%;
    padding: 10px;
    font-size: 1.1rem;
    background-color: #6d4c41;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #8e6e56;
}
