body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: #b28e7e;
}

p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 20px;
}

#countdown {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    font-weight: bold;
}

#countdown div {
    padding: 20px;
    background-color: #f8c79d;
    border-radius: 10px;
    width: 80px;
    text-align: center;
}

#countdown div span {
    display: block;
    font-size: 2.5rem;
    color: #7a4f37;
}





/* Applichiamo l'animazione al passaggio del mouse */
h1:hover {
    color: #ff6347; /* Cambia il colore al passaggio del mouse */
    transform: scale(1.1); /* Ingrandisce leggermente il testo */
    transition: all 0.3s ease; /* Aggiunge una transizione fluida */
}
/* Esempio di base per il sito del matrimonio */

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #8b0000;
    font-size: 2.5rem;
}

.intro-img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.intro {
    text-align: center;
    margin-bottom: 30px;
}

.dettagli {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.dettagli h3 {
    color: #8b0000;
}

.galleria {
    text-align: center;
    margin-bottom: 30px;
}

.galleria h3 {
    color: #8b0000;
    margin-bottom: 20px;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.gallery-item {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #ddd;
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9rem;
}

footer a {
    color: #006400;
    text-decoration: none;
}
