/* Impostazioni generali */
body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 80%;
    max-width: 800px;
}

h1 {
    font-size: 2.5rem;
    color: #6d4c41;
}

h2 {
    color: #6d4c41;
    margin-top: 20px;
}

p {
    font-size: 1.1rem;
    color: #555;
}

#countdown {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
}

#countdown div {
    background-color: #ffccbc;
    padding: 15px;
    border-radius: 10px;
    width: 80px;
    text-align: center;
}

#countdown div span {
    display: block;
    font-size: 2.5rem;
    color: #6d4c41;
}

#info {
    margin-top: 40px;
}

#info p {
    font-size: 1.1rem;
    color: #333;
}
